button:focus {
    box-shadow: none;
    outline: none;
}

body.dark-mode .fab{
    color: #fff;
}

body.dark-mode .header,
body.dark-mode {
    transition: background 200ms linear;
}
body .header,
body {
    transition: background 200ms linear;
}