button:focus {
    box-shadow: none;
    outline: none;
}

body.dark-mode .fab{
    color: #fff;
}

body.dark-mode .header,
body.dark-mode {
    transition: background 200ms linear;
}
body .header,
body {
    transition: background 200ms linear;
}

[disabled],
.disabled {
    pointer-events: none !important;
    background-color: #dddddd !important;
}